body {
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
}

.calculator {
    margin-top: 100px;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 50px;
    background-color: #2F4F4F;
    font-size: 50px;
    text-align: center;
    text-align: right;
}

.screen {
    width: 400px;
    height: 200px;
    background-color: #DAA520;
}

.input-line {
    font-size: 40px;
}

.result-line {
    font-size: 80px;
}

.operation-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.clear-and-del.container {
    display: flex;
    justify-content: space-around;
}

.num-and-operations.container {
    display: flex;
}

.bt {
    flex-grow: 0;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
}

.bt:hover {
    background-color: orange;
}

.num-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 300px; 
    gap: 10px;
}

button.num {
    width: 80px;
    height: 80px;
}

.operation-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bt.utility {
    width: 120px;
}